body {
    background-color: #0F1319;
    color: #dfdbcf;
    line-height: 1.8em;
}

a, a:hover {
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #fff;
    margin: 1rem;
}

.facebook-icon,
.instagram-icon {
    color: rgba(255, 255, 255, .5);;
    font-size: 1.2rem;
    padding: .5rem;
}

.facebook-icon:hover,
.instagram-icon:hover {
    color: white;
}

.nav .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav .active {
    color: #fff;
    border-bottom-color: #fff;
}

img {
    margin: 2rem;
}

.concert-title {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
}

.externallink-icon {
    color: rgba(255, 255, 255, .5);;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
